.h-center800 {
  margin: 10px auto;
  width: 800px;
}
.h-center800 input[type="text"] {
  width: 710px;
}
.fullscreen-tinymce .mce-tinymce {
  height: 100%;
}
.fullscreen-tinymce .mce-tinymce .mce-container-body {
  height: 100%;
}
.fullscreen-tinymce .mce-tinymce .mce-container-body .mce-edit-area {
  height: calc(100% - 103px);
}
.fullscreen-tinymce .mce-tinymce .mce-container-body .mce-edit-area iframe {
  height: 100% !important;
}
.note {
  height: calc(100% - 15px);
}
.note .property-line {
  clear: both;
  margin: 10px 0;
}
.note .property-line .property-label {
  float: left;
  width: 80px;
  margin: 5px 10px 5px 0;
}
.note .property-line input {
  width: calc( 100% - 8 * 10px - 30px);
}
.note .property-line .property-value {
  float: left;
  margin: 5px 10px 5px 0;
}
.note .content {
  height: calc(100% - 60px);
}
.note .content .input {
  height: calc(100% - 30px);
}
.note .content .input .mce-tinymce {
  height: 100%;
}
.note .content .input .mce-tinymce .mce-container-body {
  height: 100%;
}
.note .content .input .mce-tinymce .mce-container-body .mce-edit-area {
  height: calc(100% - 103px);
}
.note .content .input .mce-tinymce .mce-container-body .mce-edit-area iframe {
  height: 100% !important;
}
.note .property-colon-label {
  margin: 5px 10px 5px 0;
}
.add-note.modal {
  width: calc(100% - 500px);
  height: 100%!important;
  left: 400px!important;
  top: 0!important;
  margin: 0;
}
.add-note.modal .modal-body {
  height: calc(100% - 140px);
  max-height: 99999999px;
}
