.h-center800 {
  margin: 10px auto;
  width: 800px;
}
.h-center800 input[type="text"] {
  width: 710px;
}
.note {
  height: calc(100% - 15px);
}
.note .content {
  flex-direction: column;
  height: calc(100% - 110px);
}
.note .content .input {
  height: calc(100% - 30px);
}
.note .property-colon-label {
  margin: 5px 10px 5px 0;
}
.add-note.modal {
  width: calc(100% - 500px);
  height: 100%!important;
  left: 400px!important;
  top: 0!important;
  margin: 0;
}
.add-note.modal .modal-body {
  height: calc(100% - 140px);
  max-height: 99999999px;
}
.cols {
  display: flex;
}
.cols .minor {
  flex: 1;
  min-width: 200px;
}
.cols .major {
  flex: 5;
}
.padding-h-sm {
  padding-left: 5px;
  padding-right: 5px;
}
