.tree .selected {
  background-color: #eef;
}
.clear-fix {
  clear: both;
}
.full-w {
  width: 100%;
}
.full-h {
  height: 100%;
}
.note-toolbar > ul > li {
  display: block;
  float: left;
}
.note-toolbar:after {
  clear: both;
}
.modal-content {
  display: flex;
  flex-flow: column;
}
.modal-content .modal-header {
  height: 87px;
}
.modal-content .modal-body {
  height: 10;
}
.modal-content .modal-footer {
  height: 74px;
}
