<div class="note" ng-controller="AddNoteCtrl">
    <div class="property-line">
        <div class="property-label">Subject</div>
        <div>
            <input type="text" ng-model="model.subject"></input>
        </div>
    </div>
    <div class="property-line">
        <div class="property-label">Parent</div>
        <div class="property-value" note-select ng-model="model.parent"></div>
    </div>
    <div class="property-line">
        <div>
            <label><input type="checkbox" ng-model="model.isCategory"/>As category</label>
        </div>
    </div>
    <div class="property-line content">
        <div class="property-colon-label">Content:</div>
        <div class="input">
            <textarea ui-tinymce="{resize:false}" ng-model="model.content"></textarea>
        </div>
    </div>
</div>
